/*--Feed--*/
.feed { 
  padding-left: 0px;
  .composerow {
	  border-bottom: 1px solid #e4edf2;
	  margin-bottom: 15px;
	  margin-left: 0px;
	textarea {
      margin-bottom: 10px;
	}
    .btn {
      display: inline-block;
      float: right;
      font-size: 14px;
      padding: 5px 30px;
      margin-bottom: 10px;
    }
    .attach {
      display: inline-block;
      float: right;
      font-size: 14px;
      color: #9DA4B6;
      padding: 5px 15px;
    }
    .postto {
      display: inline-block;
      float: right;
      font-size: 14px;
      color: #9DA4B6;
      padding: 5px 15px;
      margin: 0px 20px 0px 10px;
      &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: red;
      border-left-style: solid;
      margin-right: 15px;
      margin-top: -4.5px;
      position: absolute;
      top: 50%;
      right: 0; }
    }
  }
  .avatar {
	display: inline-block;
	width: 72px;
	height: 72px;
	padding: 0px;
	margin-top: 5px;
	margin-left: 15px;
    img {border-radius: 3px;}		  
  }
  .postrow {
    .userdetails {
      margin: 0px;
      color: #9da4b6;
      a {
	    font-weight: 800;	  
      }
      p {
	    font-size: 12px;
	    padding-top: 5px;
	    color: #9DA4B6;
	    margin-bottom: 5px;
	    font-weight: 400;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .postimg img {
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #fff;
      &:hover {
	    border: 1px solid #c83442;
      }	  
    }
    .likethis {
      font-weight: 400;
      font-size: 12px;
      padding-top: 5px;
      color: #9DA4B6;
      margin-bottom: 5px;
    }
    .inline-list li {
      font-weight: 400;
      margin: 0px 12px 0px 0px;
      font-size: 12px;
    }  
  }
  /*--Input Row--*/
  .replyrow {
    margin: 0px 0px 10px 0px;
    width: 100%;
    height: 44px;
    .avatar {
	  display: inline-block;
	  height: 30px;
	  width: 40px;
	  border-radius: 3px;
	  margin-top: 2px;
	  margin-left: 0px;
	}
	.input {
	  display: inline-block;
	  float: right;
	  width: 88%;
	  padding: 10px 10px 12px 10px;
	  margin-top: 2px;
	}
  }
  /*--Comment Row--*/
  .commentrow {
    border-top: 1px solid #e4edf2;
    padding-top: 10px;
    margin-left: 0px;
    .avatar {
	  display: inline-block;
	  height: 40px;
	  width: 40px;
	  border-radius: 3px;
	  margin-top: 5px;
	  margin-left: 0px;
	}
	.comment {
	  width: 90%;
	}
	.date a {
	  color: #9DA4B6;
	}
  }
  .viewmorerow {
	width: 100%;
	text-align: center;
	margin-top: 0px;
	padding: 5px 0px;
  }
}
/*--Mobile--*/
@media only screen and (max-width: 980px) {
  .feed .composerow {
    width: 100%;
    padding: 0px 10px;
  }
  .feed{
    width: 100%;
    padding: 0px 10px;
    max-width: 100%;
    .avatar {
      width: 50px;
      height: 50px;
    }
  }
  .postrow {
    width: 70%;
  }
  .feed .commentrow .avatar {
    width: 10%;
  }
}