/*--GroupHeader--*/
.groupheader {
  width: 100%;
  padding: 30px 0px 35px 0px;
  margin-top:40px;
  background: #FFFBEB;
  border-bottom: 1px solid #e8deb6;
  .avatar {
    display: inline-block;
    width: 72px;
    height: 72px;
    padding: 0px;
    background: #FFFBEB;
    margin-left: 0px;
    margin-top: 5px;
    img {border-radius: 3px;}		  		
  }
  .details {
    margin: 14px 0px 0px 0px;
    padding: 0px;
    a {
      font-weight: 300;	
      font-family: "latolight";
      font-size: 34px;  
    }
    p {
      font-size: 12px;
      padding-top: 5px;
      color: #9DA4B6;
      margin-bottom: 5px;
    }
  }
  .groupmembers {
	float: right;
	margin-top: 25px;
    img {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 2px;
    }
    .morebox {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 2px;
      background: #c83442;
      color: #fff;
      text-align: center;
      font-size: 12px;
      padding-top: 3px;
    }
  }
}
/*-- Mobile Adjustments --*/
@media only screen and (max-width: 980px) {
  .groupheader {
    .avatar {
      display: block;
      margin: 0 auto;
      float: none;
    }
    .details {
      text-align: center;
    }
    .groupmembers{
      float: none;
      margin: 0 auto;
      width: 230px;
    }
  }
}