@import 'global';
@import 'buttons';


/* -------------------------- */
/* ------ Primary Input ------ */
/* -------------------------- */
input,textarea,select{
  border: 1px solid #dfe4e8; 
  overflow: hidden; 
  border-radius: 3px; 
  background: #fff; 
  padding: 3px 10px;
  font-size: 14px;
  outline:none;
  width: 100%;
  font-family: "lato" helvetica, arial, sans-serif; 
  font-weight: 400;
  resize:none;
  -webkit-transition:
    background-color 0.3s ease-out,
    -webkit-box-shadow 0.2s ease,
    border-color 0.2s ease;
  -moz-transition:
    background-color 0.3s ease-out,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
  transition:
    background-color 0.3s ease-out,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  &::-webkit-input-placeholder {color: #8ea1bb;}
  &:-moz-placeholder {color: #8ea1bb;}
  &::-moz-placeholder {color: #8ea1bb;}
  &:-ms-input-placeholder {color: #8ea1bb;}
}
/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto;
}
/* Not allow resize out of parent */
textarea {
  max-width: 100%;
  border-radius: 3px;
}
/* -- Error Styling -- */
input.input-error, textarea.input-error, 
select.input-error { 
  background: #fff3f3;
  border: 1px solid #d93f44;
}
input.input-error:focus, textarea.input-error:focus, 
select.input-error { 
  background: #fff3f3;
  border: 1px solid #d93f44;
}

/* -- Focus Styling -- */
input:focus, textarea:focus {
  background: #fbfcff; 
  border: 1px solid #6fa6df; 
  box-shadow: 0px 1px 2px rgba(0,0,0,.1) inset, 0px 1px 2px rgba(246,250,253,.1);
}

/* -------------------------- */
/* ------ Sunken Input ------ */
/* -------------------------- */
.sunken {background: #F8F9FA;}
.sunken textarea, 
.sunken input {
  background: #F8F9FA; 
  border: 1px solid #d2d6d8;
}
.sunken input:focus, 
.sunken textarea:focus {
  background: #f6fafd;  
  box-shadow: 0px 1px 2px rgba(0,0,0,.1) inset, 0px 1px 2px rgba(246,250,253,.1);
}
.sunken .placeholder-container input:focus, 
.sunken .placeholder-container textarea:focus {
  background: none; 
  border: 0; 
  box-shadow: none; 
  margin: 0;
}




