/*--Immorted Sub Pages--*/
@import 'pages/feed';
@import 'pages/sidebar';
@import 'pages/groups';
@import 'pages/profile';
@import 'pages/directory';

/*--Global--*/
::-webkit-input-placeholder {color: #b7bed0;}
:-moz-placeholder {color: #b7bed0;}
::-moz-placeholder {color: #b7bed0;}
:-ms-input-placeholder { color: #b7bed0;}

body {
  font-weight: 300;
}
/*--Navbar--*/
.top-bar {
  border-bottom: 1px solid #8d0411;
  .brand {
    width: 62px;
    height: 28px;
    background-size: 62px 28px;
    -webkit-background-size: 62px 28px;
    margin: 6px 0px 0px 0px;
    background-image: url("../../img/navlogo.png");
  }   
  .avatar img {
    border-radius: 3px;
    border: 1px solid #a30d1b;
    margin: 0px;
    margin-top: -2px;
    padding: 0px;
  }
}
.homefeed {
  margin-top: 40px;
}
/*--Headlines--*/
.headline{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #9DA4B6;
  border-bottom: 1px solid #e4edf2;
  font-size: 24px;
  padding-bottom: 15px;
  font-family: "latolight";
}
/*--Groups--*/
/*--RETINA SUPPORT--*/
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  .top-bar .brand { background-image: url("../../img/navlogo-2x.png");}   
}
